
000129/
data/
notebooks/
report/

.cache/
.pytest_cache/
.mplconfig/

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

venv/
env/
ENV/
env.bak/
venv.bak/

.ipynb_checkpoints

.idea/

.vscode/

.DS_Store
.AppleDouble
.LSOverride

.coverage
.coverage.*
htmlcov/
.tox/
.nox/
*.cover
.hypothesis/
.pytest_cache/

.mypy_cache/
.dmypy.json
dmypy.json

.env
.venv

*.nwb

*.npz
*.h5
*.hdf5
*.pt
*.pth

*.png
*.jpg
*.jpeg
*.pdf
*.svg
